<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.representation">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:name="com.representation.ThisApplication">
        <activity android:name="measurements.Measurements" />
        <activity android:name="com.representation.MainActivity" />
        <activity android:name="SaveData.SaveData"/>
        <activity android:name="layouteditor.LayoutEditor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="layouts.LayoutsList" />
        </activity>
        <activity android:name="layouts.LayoutsList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="measurements.Measurements" />
        </activity>

    </application>

</manifest>